body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    background-color: pink;
  }
  
  h1 {
    background-color:white;
    color: white;
    padding: 20px 0;
    margin: 0;
    color: red;
  }
  
  .form {
    margin: 20px;
  }
  
  input {
    padding: 10px;
    margin: 5px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #blockchain {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .block {
    background: #fff;
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    width: 280px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border-radius: 6px;
  }
  .color{
    background-color: yellow;
  }